body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.custom-navbar {
    background-color: #000 !important;
    border-bottom: 1px solid #e50914;
    z-index: 1030;
    padding: 10px 0;
}

.navbar-nav .nav-link {
    color: #fff !important;
    margin-left: 18px;
    font-weight: 500;
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #e50914 !important;
}

.logo-menu {
    height: 65px;
    width: auto;
}

.container-fluid {
    background-color: #000;
    color: #fff;
    padding-bottom: 40px;
}

.row {
    margin-bottom: 20px;
    text-align: center;
}

.card {
    background-color: #000 !important;
    color: #fff !important;
    border: 2px solid #e50914;
    margin-bottom: 20px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.4s;
}

.card:hover {
    border-color: 2px #ff1a1a;
    box-shadow: 0 0 15px #e50914;
}

.card img:hover {
    transform: scale(1.05) rotate(1deg);
}

.img-curiosidade {
    width: 100%;
    border: 2px solid #e50914;
    padding: 0;
    box-shadow: 0 0 15px #e50914;
    transition: 0.3s ease-in-out;
    object-fit: cover;
}

.img-curiosidade:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px #ff1a1a;
}

h2, h3 {
    text-shadow: 0 0 10px #e50914, 0 0 20px #e50914;
}

.footer-custom {
    background-color: #000;
    border-top: 1px solid #e50914;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}